@charset "ISO-8859-1";
body{
  margin: 0;
  background: linear-gradient(45deg,#49a09d,#5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}

input{
	border-radius: 20px;
	font-size: 20px;
	background: transparent;
	color: white;
}
